.post-page {
  max-width: 1300px;
  margin: auto;
  display: flex;
  width: 100%;
}

.post-widgets {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 305px;
  margin-right: 10px;
}